<nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumn">
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of sortTable.data">
      <td>{{ data.gender }}</td>
      <td>{{ data.category }}</td>
      <td>{{ data.merchant }}</td>
      <td>{{ data.city }}</td>
      <td>{{ data.state }}</td>
      <td>{{ data.population }}</td>
      <td>{{ data.amount }}</td>
    </tr>
  </tbody>
</nz-table>
