[nz-form] {
  max-width: 600px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}

.customer-register {
  margin-left: 50%;
  margin-top: 100px;
  transform: translate(-50%, 0);
}
